<div class="container">
  <form class="form-signin">
    <!-- Serve il logo!!! -->
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
    <div class="checkbox mb-3">
      <label>
        <input value="remember-me" type="checkbox"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/dashboard">Sign in</button>
  </form>
</div>
