.description{
  position: relative;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    @include background-image(linear-gradient(left, rgba(255,255,255,0) 0%, white 80%, white 100%));
    pointer-events: none;
  }
}
